//BORRAME. estas variables deberían estar fuera
$breakpoint--lg: 100px;
$breakpoint--md: 100px;

//TOGGLE
$c-card--enabled: false!default;

//tokenizamos las variable usadas (deberían estar enlazadas a las variables de settings)
$c-card__padding: 1em !default;
$c-card__border-color: lightgrey !default;
$c-card__bg-color: white !default;
$c-card__color-primary: turquoise !default;
$c-card__color-secondary: yellowgreen !default;
$c-card__shadow: 0 0 5px rgba(0,0,0,.5) !default;
$c-card__transition: .4s ease-out !default;





//el componente y sus partes como mixins

@mixin c-card ( ) {
	overflow: hidden;

	margin: $c-card__padding 0;

	border: 1px solid $c-card__border-color;
	background: $c-card__bg-color;
	@media (min-width:$breakpoint--lg) {
		max-width: 30%;
	}
	@media (min-width:calc(#{$breakpoint--lg} + 200px)) {
		max-width: 24%;
	}
}
@mixin c-card__link () {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: flex-start;

	@media (min-width:$breakpoint--lg) {
		flex-direction: column;
	}
	.card__img:before {
		//UNA LUPA
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		content: '\F349';
		transition: $c-card__transition;
		text-align: center;

		opacity: 0;
		color: $c-card__bg-color;
		background: linear-gradient(315deg, rgba($c-card__color-primary, .7), rgba($c-card__color-secondary, .7));
		text-shadow: $c-card__shadow;

		font: normal normal normal 24px/1 'Material Design Icons';
		font-size: 3em;

		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		mix-blend-mode: multiply;
	}
	&:hover {
		//los enlaces les ponemos una lupa en el hover
		img {
			filter: grayscale(1);
		}

		.card__img:before {
			opacity: 1;
		}
	}
}
@mixin c-card__body() {
	flex: 1 1 auto;

	padding: 20px;
}

@mixin c-card__img {
	position: relative;

	overflow: hidden;

	min-width: 30%;
	height: unset;
	margin: 0;
	padding: 0;

	background: linear-gradient(315deg, rgba($c-card__color-primary, .7), rgba($c-card__color-secondary, .7));

	line-height: 0;
	img {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;

		transition: $c-card__transition;

		filter: grayscale(0);
		object-fit: cover;
	}
	@media (min-width:$breakpoint--lg) {
		min-width: unset;
		height: 11em;
	}
}

@mixin c-card__title() {
	margin-top: 0;
	margin-bottom: .5em;

	font-size: 1.3em;
}


//comprobar si esta habilitado y lo escupimos
@if ($c-card--enabled) {
	.c-card {
		@include c-card();
		&__link {
			@include c-card__link();
		}
		&__body {
			@include c-card__body();
		}
		&__img {
			@include c-card__img();
		}
		&__title {
			@include c-card__title();
		}
	}
}
