// menu variables
// these variables should link to a setting variable. Only menu variables should be used inside the menu
// --------------------------------------------------
$c-menu-toggle-BP: $f-menu-toggle-BP;
$c-menu__link-padding: map-get($f-spaces,'small');
$c-submenu-padding: map-get($f-spaces,'tiny');
$c-menu__link-border-color: s-map-deep-get($f-colors,'neutral', 'grey--light');
$c-submenu__bg: s-map-deep-get($f-colors,'neutral', 'black');


// menu toggling
$c-menu--enabled: false !default;

// menu and parts as a mixins
// --------------------------------------------------
@mixin c-menu() {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	margin: 0;
	padding: 0;

	list-style: none;
}
@mixin c-menu__item () {
	padding: $c-menu__link-padding;

	border-top: 1px solid $c-menu__link-border-color;

	font-weight: 300;
	@media screen and (min-width:$c-menu-toggle-BP) {
		border-top: none;
	}
}
@mixin c-menu__link () {
}

@mixin c-menu__submenu () {
	padding: $c-submenu-padding;
	padding-bottom: 0;

	list-style: none;
	@media screen and (min-width:$c-menu-toggle-BP) {
		position: absolute;
		top: 100%;
		left: -$c-submenu-padding*6;

		display: none;

		width: calc( 100% + #{$c-submenu-padding} * 12 );
		padding: 0;

		transition: opacity map-get($f-durations,'fast') map-get($f-easings, 'base');

		opacity: 0;
		color: white;
		background: $c-submenu__bg;


		// @include c-submenu--isVisible ();
		// &:hover {
		// 	@include c-submenu--isVisible ();
		// }
	}
}
@mixin c-menu__submenu-toggle() {
	@media screen and (min-width:$c-menu-toggle-BP) {
		position: relative;
		/*IE11*/
		&:hover .c-menu__submenu {
			display: block;

			opacity: 1;
		}

		&:hover  .c-menu__submenu,
		&:active  .c-menu__submenu,
		&:focus  .c-menu__submenu,
		&:focus-within  .c-menu__submenu {
			//needed fot TAB SUPPORT
			&,
			&:hover,
			&:active,
			&:focus {
				outline: none;

@include c-submenu--isVisible ();
			};
		}
	}
}
@mixin c-submenu__item () {
	padding: 0;

	border-top: 1px dotted $c-menu__link-border-color;
	@media screen and (min-width:$c-menu-toggle-BP) {
		padding: 0;

		transition: background map-get($f-durations,'normal') map-get($f-easings, 'base');

		border-top: none;

		&:first-child:after {
			position: absolute;
			z-index: -1;
			z-index: 1;
			top: -.5em;
			left: calc(50% - .25em);

			display: block;

			width: 1em;
			height: 1em;

			content: '';
			transition: background map-get($f-durations,'normal') map-get($f-easings, 'base');
			transform: rotate(45deg);

			background: $c-submenu__bg;
		}
		&:hover,
		&:active,
		&:focus {
			color: inherit;
			background: s-map-deep-get($f-colors,'brand', 'primary');
			&:after {
				background: s-map-deep-get($f-colors,'brand', 'primary');
			}
		};
	}
}
@mixin c-submenu__link () {
	display: block;

	padding: $c-submenu-padding ;
	@media screen and (min-width:$c-menu-toggle-BP) {
		padding: $c-submenu-padding *2 ;
		&:hover,
		&:active,
		&:focus {
			color: inherit;
			background: s-map-deep-get($f-colors,'brand', 'primary');
			// outline: 1px solid green;
		};
	}
}
@mixin c-submenu--isVisible () {
	z-index: 1;

	display: block;

	opacity: 1;
	box-shadow: map-get($f-shadows , 'elevated' ) rgba($f-shadow-color, .22);
}

// menu selector output
// --------------------------------------------------
@if ($c-menu--enabled) {
	.c-menu {
		@include c-menu();
	}

	.c-menu__item {
		@include c-menu__item();
	}

	.c-menu__link {
		@include c-menu__link();
	}
	.c-menu__submenu-toggle {
		@include c-menu__submenu-toggle();
	}
	.c-menu__submenu {
		@include c-menu__submenu();
	}
	.c-submenu__link {
		@include c-submenu__link();
	}
	.c-submenu__item {
		@include c-submenu__item();
	}
}
