// PAGE variables
// these variables should link to a setting variable. Only PAGE variables should be used inside the PAGE
// --------------------------------------------------
$c-page__title__paddingV: map-get($f-spaces , 'huge' );
$c-page__color-schemes: (
	'default':(
		'title': map-get($f-color-schemes, 'primary'),
		'body':  map-get($f-color-schemes, 'primary'),
		),
	'secondary':(
		'title': map-get($f-color-schemes, 'secondary'),
		'body':  map-get($f-color-schemes, 'primary'),
		),
	'terciary':(
		'title': map-get($f-color-schemes, 'terciary'),
		'body':  map-get($f-color-schemes, 'primary'),
		),
	'inverted':(
		'title': map-get($f-color-schemes, 'inverted'),
		'body':  map-get($f-color-schemes, 'primary'),
		),

);
$c-page__title__typeScale: map-get($sc-type-scale , 'sc-3' );
$c-page__desc__typeScale: map-get($sc-type-scale , 'p' );
$c-page-toggle-BP: map-get($f-breakpoints, 'sml');

// PAGE toggling
$c-page--enabled: false !default;

// PAGE and parts as a mixins
// --------------------------------------------------
@mixin c-page() {
	// Write something good
}

@mixin c-page__hero() {
	padding-top: $c-page__title__paddingV;
	padding-bottom: $c-page__title__paddingV;

	text-align: center;

	color: s-map-deep-get($c-page__color-schemes,'terciary', 'title', 'fg');
	background-color: s-map-deep-get($c-page__color-schemes,'terciary', 'title', 'bg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@mixin c-page__title () {
	margin: 0;

	text-align: center;

	text-shadow: 0 0 100px s-map-deep-get($f-colors, 'neutral', 'black');

	font-size: map-get($c-page__title__typeScale, 'fontSize');
	font-weight: 100;
	line-height: map-get($c-page__title__typeScale, 'autoLineHeight');

@include t-container();

	@media screen and (max-width: 600px) {
		word-wrap: break-word;

		font-size: map-get($c-page__title__typeScale, 'fontSize') *.6;
		line-height: map-get($c-page__title__typeScale, 'autoLineHeight')*.8;
	}
}

@mixin c-page__desc () {
	margin-top: 1.5em;

	font-size: map-get($c-page__desc__typeScale, 'fontSize');
	line-height: map-get($c-page__desc__typeScale, 'autoLineHeight');

@include t-container();
}


// PAGE Variants
@mixin c-page--default() {
	.c-page__hero {
		color: s-map-deep-get($c-page__color-schemes, 'default', 'title', 'fg');
		background-color: s-map-deep-get($c-page__color-schemes, 'default', 'title', 'bg');
	}
}

@mixin c-page--secondary() {
	.c-page__hero {
		color: s-map-deep-get($c-page__color-schemes, 'secondary', 'title', 'fg');
		background-color: s-map-deep-get($c-page__color-schemes, 'secondary', 'title', 'bg');
	}
}

@mixin c-page--terciary() {
	.c-page__hero {
		color: s-map-deep-get($c-page__color-schemes, 'terciary', 'title', 'fg');
		background-color: s-map-deep-get($c-page__color-schemes, 'terciary', 'title', 'bg');
	}
}


// PAGE selector output
// --------------------------------------------------
@if ($c-page--enabled) {
	.c-page {
		@include c-page();
	}

	.c-page__hero {
		@include c-page__hero ();
	}

	.c-page__title {
		@include c-page__title();
	}

	.c-page__desc {
		@include c-page__desc();
	}

	.c-page--default {
		@include c-page--default();
	}

	.c-page--secondary {
		@include c-page--secondary();
	}

	.c-page--terciary {
		@include c-page--terciary();
	}
}

