/* default CSS variables */
$c-progress-height: .5rem;
// $c-progress-color: map-get($f-color-schemes, 'primary');

// html -> overflow-hidden;
// body / .o-site -> overflow: scroll;

/* progress bar container */
.progress-bar-container {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;

	width: 100%;
	height: $c-progress-height;
}

/* progress bar */
.progress-bar-container__progress {
	float: left;

	width: 0;
	height: $c-progress-height;

// background-color: $c-progress-color;

	background-color: var(--color-brand-primary);
}
