// TESTIMONIAL variables
// these variables should link to a setting variable. Only testimonial variables should be used inside the testimonial
// --------------------------------------------------
$c-testimonial__profile-typeScale: map-get($sc-type-scale , 'h3' );
$c-testimonial__author-typeScale: map-get($sc-type-scale , 'p' );

// TESTIMONIAL toggling
$c-testimonial--enabled: false !default;

// TESTIMONIAL and parts as a mixins
// --------------------------------------------------
@mixin c-testimonial() {
	&#{&} {
		display: inline-flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;
	}
}
@mixin c-testimonial__profile () {
	display: block;

	max-height: map-get($f-spaces,'huge');
	margin-top: map-get($c-iconbox__title-typeScale, 'line') 0;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	font-size: map-get($c-iconbox__title-typeScale, 'fontSize');
	line-height: map-get($c-iconbox__title-typeScale, 'autoLineHeight')/1.618;
}
@mixin c-testimonial__cite () {
	position: relative;

	max-width: 90%;
	padding-left: 50px;
	// outline: 1px solid pink;
	&:before {
		position: absolute;
		z-index: -1;
		top: .2em;
		left: 0;

		display: block;

		content: '"';
		pointer-events: none;

		opacity: .1;

		font-family: serif;
		font-size: 300px;
		font-style: normal;
	}
}
@mixin c-testimonial__author () {
	order: 3;

	max-width: 98%;
	margin-top: 0;
	margin-bottom: map-get($c-testimonial__author-typeScale, 'line');
	padding-left: 50px;

	text-transform: unset;

	font-size: map-get($c-testimonial__author-typeScale, 'fontSize');
	line-height: map-get($c-testimonial__author-typeScale, 'autoLineHeight');
	@supports (display: grid) {
		max-width: unset;
	}
}

// TESTIMONIAL selector output
// --------------------------------------------------
@if ($c-testimonial--enabled) {
	.c-testimonial {
		@include c-testimonial();
	}

	.c-testimonial__profile {
		@include c-testimonial__profile();
	}
	.c-testimonial__cite {
		@include c-testimonial__cite();
	}
	.c-testimonial__author {
		@include c-testimonial__author();
	}
}
