
/* -------------------------------------------------------------------------
 * CLEARFIX
 *
 * Mixin to drop micro clearfix into a selector. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 */

@mixin t-clearfix() {
	&::after {
		display: block;
		clear: both;

		content: '';
	}
}

@mixin t-clearfix--unset() {
	&::after {
		display: initial;
		clear: initial;

		content: initial;
	}
}

@mixin t-clearfix-important() {
	&::after {
		display: block !important;
		clear: both !important;

		content: '' !important;
	}
}
