
/* -------------------------------------------------------------------------
 * CONTAINER
 *
 * Mixin to add padding so a block achieve a max-width effect
 * BEAR IN MIND: this mixing overwrites padding-rght and padding-left
 *
 */

@mixin t-container ($max-width: $sc-measure) {
	@media screen and (min-width:map-get($f-breakpoints, 'sml' )) {
		padding-right: 2vw;
		padding-left: 2vw;
	}

	@media screen and (min-width:map-get($f-breakpoints, 'lg' )) {
		max-width: 98%;
		margin-right: auto;
		margin-left: auto;
		@supports (display: grid) {
			// NOT IE11
			max-width: unset;
			margin-right: unset;
			margin-left: unset;
			padding-right: calc( (90vw - #{$sc-measure})/2 + 4vw);
			padding-left: calc( (90vw - #{$sc-measure})/2 + 4vw);
		}
	}
}
