
/* -------------------------------------------------------------------------
 * MEDIA
 *
 * Place any image-like and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 */

// O-MEDIA variables
// --------------------------------------------------
$o-media__gutter: map-get($f-spaces , 'large' );
$o-media__BP: map-get($f-breakpoints, 'sml');

// O-MEDIA toggling
// --------------------------------------------------
$o-media--enabled: false !default;
$o-media__mod-reverse--enabled: false !default;
$o-media__mod-flag--enabled: false !default;

// --------------------------------------------------
@mixin o-media () {
	display: flex;
	align-items: flex-start;
	@media (max-width:500px) {
		display: block;
	}
}

@mixin o-media__img() {
	flex-direction: column;
	flex-grow: 0;

	margin-right: $o-media__gutter;

	@supports (display: grid) {
		//not IE11
		display: flex;
		flex: .5;
	};

	&.o-media__img--big {
		flex: 1;
	}
	> img {
		display: inline-block;

		width: 100%;
	}
}

@mixin o-media__body() {
	flex: 1;
}

@mixin o-media--switched() {
	display: block;
	@supports (display: grid) {
		//not IE11
		@media screen and (min-width: $o-media__BP) {
			flex-direction: column;
		}
	}
}


// O-MEDIA selector output
// --------------------------------------------------

@if ($o-media--enabled) {
	.o-media {
		@include o-media();
	}
	.o-media__img {
		@include o-media__img();
	}
	.o-media__body {
		@include o-media__body();
	}
	// .o-media--switched () {
	// 	@include o-media--switched();
	// }
}


// Reverse modifier
// --------------------------------------------------

@mixin o-media__img--reverse() {
	order: 1;

	margin: 0 0 0 $o-media__gutter;
}

@mixin o-media__mod-reverse() {
	.o-media--reverse {
		> .o-media__img {
			@include o-media__img--reverse;
		}
	}
}

@if ($o-media--enabled and $o-media__mod-reverse--enabled) {
	@include o-media__mod-reverse();
}


// FLAG modifier (https://csswizardry.com/2013/05/the-flag-object/)
// --------------------------------------------------
@mixin o-media__mod-flag() {
	.o-media--flag {
		@media (max-width:$o-media__BP) {
			display: block;
		}
		@supports (display: grid) {
			//not IE11
			align-items: center;
		}
	}
}
@if ($o-media--enabled and $o-media__mod-flag--enabled) {
	@include o-media__mod-flag();
}
