/* -------------------------------------------------------------------------
* FEATURE TOGGLING
*
* Enable any object/component/wins css output by overriding their
* own variable that is defaulted to FALSE
*
*/

// OBJECTS
//-------------------------------------------------
// $o-site--enabled: true;
// $o-list-h--enabled: true;
// $o-list-naked--enabled: true;
// $o-media--enabled: true;
// $o-media__mod-reverse--enabled: true;
// $o-media__mod-flag--enabled: true;
// ...
// What else?

// COMPONENT
//-------------------------------------------------
// $c-aside--enabled: true;
// $c-banner--enabled: true;
// $c-btn--enabled: true;
// $c-btn__sizes--enabled: true;
// $c-btn__special--enabled: true;
// $c-carrousel--enabled: true;
// $c-cart--enabled: true;
// $c-contactList--enabled: true;
// $c-cookies--enabled: true;
// $c-cta--enabled: true;
// $c-dialog--enabled: true;
// $c-faqs--enabled: true;
// $c-footer--enabled: true;
// $c-form--enabled: true;
// $c-gallery--enabled: true;
// $c-header--enabled: true;
// $c-hero--enabled: true;
// $c-iconbox--enabled: true;
// $c-image--enabled: true;
// $c-list--enabled: true;
// $c-main-nav--enabled: true;
// $c-menu--enabled: true;
// $c-page--enabled: true;
// $c-panel--enabled: true;
// $c-priceCard--enabled: true;
// $c-section--enabled: true;
// $c-social--enabled: true;
// $c-starred--enabled: true;
// $c-store--enabled: true;
// $c-table--enabled: true;
// $c-table--removableRows--enabled: true;
// $c-tabs--enabled: true;
// $c-testimonial--enabled: true;
// $c-txt--enabled: true;
// $c-well--enabled: true;
// ...
// What else?

/* WINS*/
//-------------------------------------------------

// EXPOSING COLOR FOR UTILITIES CLASES.
$w-colors--enabled: true;
$w-bgcolors--enabled: true;
// A color can be exported for w-color--red{} and w-bg--red{}
// Only export the colors you needed, or your final CSS will be bloated.
// The process consists on 2 STEPS:
//      1. Removing elements o erasing a whole map
//      2. Cleaning the map of empty strings

// STEP 1
// for a total export: $f-color--exported__maps:$f-colors
// for partial and controlled export:
$f-color--exported__maps: map-merge(
    $f-colors,
    (
        'brand': map-remove($f-colors-brand, 'accent', 'terciary'),
        'neutral': '',
        'other': '',
    )
);
// STEP 2:
// Cleaning the map of empty strings
$f-color--exported__maps: map-remove($f-color--exported__maps,'neutral','other');

// EXPOSING UTILITIES CLASES OF WIDTHS
$u-widths--enabled: true;
