@mixin lint {
	// Inline styles
	*[style] {
		outline: 1px dotted red;
	}

	// Links with wrong link or without it

	a:not([href]),
	a[href='#'],
	a[href=''],
	a[href*='javascript:void(0)'] {
		outline: 1px dotted gold;
	}

	// Imgs with no a11y

	img:not([alt]) {
		outline: 1px dotted deeppink;

		filter: blur(10px);
	}

	// Doc has no LANG

	html:not([lang]),
	html[lang=''] {
		outline: 1px dotted red;
	}

	// Imgs with not LOADING ATTR

	img:not([loading]) {
		border: solid 1px red;
	}

	// CHARSET is not UTF8

	meta[charset]:not([charset='UTF-8']) {
		outline: 1px dotted red;
	}

	// Unaccessible viewport attributes

	meta[name='viewport'][content*='user-scalable=no'],
	meta[name='viewport'][content*='maximum-scale'],
	meta[name='viewport'][content*='minimum-scale'] {
		outline: 1px dotted cyan;
	}

	// FORMS

	// no ID
	input:not([id]),
	select:not([id]),
	textarea:not([id]) {
		outline: 1px dotted cyan;
	}

	// Labels not pointing to anyone
	label:not([for]) {
		outline: 1px dotted cyan;
	}

	// Controls without name
	input:not([name]),
	select:not([name]),
	textarea:not([name]) {
		outline: 1px dotted lawngreen;
	}

	// Forms with no name or ID
	form:not([name]):not([id]) {
		outline: 1px dotted lawngreen;
	}

	// Empty BUTTONS and LINKS

	button:empty,
	a:empty {
		outline: 1px dotted lawngreen;
	}
}

@include lint();
