.w-align-left {
	text-align: left !important;
}

.w-align-center {
	text-align: center !important;
}

.w-align-right {
	text-align: right !important;
}
.w-centered {
	display: inline-block;

	margin-right: auto;
	margin-left: auto;
}
.w-lefted {
	margin-right: auto;
}
.w-righted {
	margin-left: auto;
}
